In [1]:
import pandas as pd
import geopandas as gpd

df1 = pd.read_csv('All_data_1980_2021_grouped_centroids_denorm.csv')

In [6]:
df1

       concelho  month  year    sum         x          y          datetime
0      Abrantes      1  1999  0.110 -8.157853  39.426304   1999/1/15 00:00
1      Abrantes      1  2000  1.010 -8.157853  39.426304   2000/1/15 00:00
2      Abrantes      2  1997  0.010 -8.157853  39.426304   1997/2/15 00:00
3      Abrantes      2  1999  3.039 -8.157853  39.426304   1999/2/15 00:00
4      Abrantes      2  2000  1.085 -8.157853  39.426304   2000/2/15 00:00
...         ...    ...   ...    ...       ...        ...               ...
71271    Óbidos     11  2016  0.530 -9.188691  39.362497  2016/11/15 00:00
71272    Óbidos     11  2017  0.021 -9.188691  39.362497  2017/11/15 00:00
71273    Óbidos     12  2015  0.184 -9.188691  39.362497  2015/12/15 00:00
71274    Óbidos     12  2016  0.005 -9.188691  39.362497  2016/12/15 00:00
71275    Óbidos     12  2017  0.001 -9.188691  39.362497  2017/12/15 00:00

[71276 rows x 7 columns]

In [31]:

parishes = gpd.read_file('Cont_AAD_CAOP2017.shp', SHAPE_RESTORE_SHX='YES')

In [23]:
parishes.to_crs(epsg=4326, inplace=True)

In [44]:
geopandas_df = gpd.GeoDataFrame(
    df1, geometry=gpd.points_from_xy(df1.x, df1.y))

In [45]:
geopandas_df.crs = "epsg:4326"

In [46]:
geopandas_df.head(3)

,concelho,month,year,sum,x,y,datetime,coords,geometry
0,Abrantes,1,1999,0.11,-8.157853,39.426304,1999/1/15 00:00,POINT (39.426304267 -8.157852763300001),POINT (-8.15785 39.42630)
1,Abrantes,1,2000,1.01,-8.157853,39.426304,2000/1/15 00:00,POINT (39.426304267 -8.157852763300001),POINT (-8.15785 39.42630)
2,Abrantes,2,1997,0.01,-8.157853,39.426304,1997/2/15 00:00,POINT (39.426304267 -8.157852763300001),POINT (-8.15785 39.42630)

In [48]:
parishes.head(3)

,Dicofre,Freguesia,Concelho,Distrito,TAA,AREA_EA_Ha,AREA_T_Ha,Des_Simpli,geometry
0,080106,Albufeira e Olhos de Água,ALBUFEIRA,FARO,ÁREA SECUNDÁRIA,0.09,4117.69,Albufeira e Olhos de Água,"POLYGON ((-8.28204 37.07355, -8.28205 37.07354..."
1,081504,Sagres,VILA DO BISPO,FARO,ÁREA PRINCIPAL,3431.83,3436.91,Sagres,"POLYGON ((-8.89529 37.04182, -8.89533 37.04175..."
2,080106,Albufeira e Olhos de Água,ALBUFEIRA,FARO,ÁREA SECUNDÁRIA,0.01,4117.69,Albufeira e Olhos de Água,"POLYGON ((-8.30727 37.07449, -8.30727 37.07449..."

In [49]:
merged = geopandas_df.sjoin(parishes, how="left")

In [50]:
merged.head(3)

,concelho,month,year,sum,x,y,datetime,coords,geometry,index_right,Dicofre,Freguesia,Concelho,Distrito,TAA,AREA_EA_Ha,AREA_T_Ha,Des_Simpli
0,Abrantes,1,1999,0.11,-8.157853,39.426304,1999/1/15 00:00,POINT (39.426304267 -8.157852763300001),POINT (-8.15785 39.42630),967,140124,União das freguesias de São Miguel do Rio Tort...,ABRANTES,SANTARÉM,ÁREA PRINCIPAL,5894.41,5894.41,São Miguel do Rio Torto e Rossio ao Sul do Tejo
1,Abrantes,1,2000,1.01,-8.157853,39.426304,2000/1/15 00:00,POINT (39.426304267 -8.157852763300001),POINT (-8.15785 39.42630),967,140124,União das freguesias de São Miguel do Rio Tort...,ABRANTES,SANTARÉM,ÁREA PRINCIPAL,5894.41,5894.41,São Miguel do Rio Torto e Rossio ao Sul do Tejo
2,Abrantes,2,1997,0.01,-8.157853,39.426304,1997/2/15 00:00,POINT (39.426304267 -8.157852763300001),POINT (-8.15785 39.42630),967,140124,União das freguesias de São Miguel do Rio Tort...,ABRANTES,SANTARÉM,ÁREA PRINCIPAL,5894.41,5894.41,São Miguel do Rio Torto e Rossio ao Sul do Tejo

In [56]:
output = merged[['Dicofre', 'Freguesia', 'Distrito', 'concelho', 'month', 'year', 'sum', 'x', 'y']]

In [57]:
output = output.rename(columns={'x': 'longitude', 'y': 'latitude'})

In [54]:
output.head(3)

,Dicofre,Freguesia,Distrito,concelho,month,year,sum,longitude,latitude,datetime
0,140124,União das freguesias de São Miguel do Rio Tort...,SANTARÉM,Abrantes,1,1999,0.11,-8.157853,39.426304,1999/1/15 00:00
1,140124,União das freguesias de São Miguel do Rio Tort...,SANTARÉM,Abrantes,1,2000,1.01,-8.157853,39.426304,2000/1/15 00:00
2,140124,União das freguesias de São Miguel do Rio Tort...,SANTARÉM,Abrantes,2,1997,0.01,-8.157853,39.426304,1997/2/15 00:00

In [58]:
output.to_csv('area_ardida.csv')